.body{
    background:#F4F4EF;
}
.para
{
    font-size:50px;
}
.center
{

    width:800px;
    padding:20px;
    background:#FFFFFF;
    position:absolute;
    left:270px;
}
.logining
{

    margin-bottom:50px; 
}
.stylebtn
{
    margin-bottom: 20px;
   
  

}
.btnsignup
{
    margin-left:10px;
}
